.aboutNav{
    nav{
    .flexin(row, center, space-evenly);
    width: 100vw; 
    font-size: 1.6rem; 
    border-bottom: 2px dashed @colorThree;
    a{
      color: @colorOne;
      text-decoration: none; 
      padding: 0 0 5% 0;
      &:hover{
          color: @colorFive;
          border-bottom: 1px solid @colorOne;
      }
    }
    
    }

}
img.mobile{
    display:block;
    max-width: 90vw;
    @media @tablet{
        display:none;
    }
}
img.desktop{
    display: none;
    @media @tablet{
        display:block;
        max-width: 60vw;
    }
}
.intro{
    .flexin(column, center, center);
    @media @tablet{
        .flexin(row, center, center);
        padding: 2%;
    }
    h2{
        .paraHeaderStyle();
    }
}
.adventure{
    .flexin(column, center, center);
    @media @tablet{
        .flexin(row-reverse, center, space-between);
        padding: 2%;
    }
    h3{
        .paraHeaderStyle();
    }
    p{
        .paragraphStyle();
    }
}
.virtual{
    .flexin(column, center, center);
    @media @tablet{
        .flexin(row, center, space-between);
        padding: 2%;
    }
    h3{
        .paraHeaderStyle();
    }
    p{
        .paragraphStyle();
    }
}
.local{
    .flexin(column, center, center);
    @media @tablet{
        .flexin(row-reverse, center, space-between);
        padding: 2%;
        }
    h3{
        .paraHeaderStyle();
    }
    p{
        .paragraphStyle();
    }
}

