header{
    // position: -webkit-sticky;
    // position : sticky;
    // top: 0;
    height : 20vh;
    margin: 0 2% 8% 2%;
    @media @tablet{
        margin: 0 2% 4% 2%;
    }

    border-bottom: 2px dashed @colorThree;
    .flexin(row, center, space-evenly);
    .logo{
        img{
           height:12vh; 
           margin: 0 20%;
        }
    }
    h1.title{
        text-align: center;
        width : 60vw;
    }
}