.flexin(@direction, @align, @justify){
    display : flex;
    flex-direction: @direction;
    align-items: @align;
    justify-content: @justify;
}
.inputStyle(){
    width: 90%;
    margin: 5% 0;
    font-family: @bodyFont;
    font-size: 1.6rem;
    padding: 3%;
    border: 1px solid @colorFive;
    border-radius: 5px;
    @media @tablet{
        width : 75%;
        margin : 3% 0;
        padding: 1%;
    }
}
.paraHeaderStyle(){
    font-size: 4rem;
    text-align: center;
    padding: 3% 0;
    @media @tablet{
        max-width: 35vw;
        padding: 3%;
    }
}
.paragraphStyle(){
    font-size: 2rem;
    width: 88vw;
    line-height: 1.8;
    padding: 3% 0;
    @media @tablet{
        max-width: 35vw;
        padding: 8%;
    }
}